
h1{
    text-align: center;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: calc(var(--footer-height));
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
