body {
    background-color: rgba(108, 140, 209, 0.87);
    background-image: url("../assets/fairy-home.png");
    background-size: 100%;
    background-position: center;
}
h1{
    text-align: center;
}
main {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: calc(var(--footer-height));
}
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
